<div class="recipe-container recipe-container-{{ size }}">
  <ng-container *ngIf="recipe; else noRecipe">
    <div class="recipe-img-wrapper" *ngIf="recipe?.image_url">
      <img [src]="recipe?.image_url" class="recipe-img" />

      <div class="recipe-tag-overlay" *ngIf="recipe?.tags?.length > 0">
        <span
          class="badge bg-info text-white"
          *ngFor="let tag of recipe.tags"
          >{{ tag.name }}</span
        >
      </div>
    </div>

    <div class="recipe-body">
      <h6 class="recipe-name">
        <a href [routerLink]="['/recipes', recipe.id]">{{ recipe?.name }}</a>
      </h6>
    </div>

    <div class="recipe-footer">
      <ng-container *ngIf="deleteFromMeal">
        <button class="btn btn-danger delete-btn">Remove From Meal</button>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #noRecipe>
    <div class="no-recipe-text"><h1>Add Recipe</h1></div>
    <content-loader [viewBox]="'0 0 336 355'" [animate]="false">
      <svg:rect x="0" y="0" rx="0" ry="0" width="336" height="288" />
      <svg:rect x="8" y="296" rx="0" ry="0" width="291" height="16" />
      <svg:rect x="8" y="320" rx="0" ry="0" width="129" height="16" />
    </content-loader>
  </ng-template>
</div>
