@use 'src/assets/theme/variables';

.recipe-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: variables.$spacer;
  row-gap: variables.$spacer;
  //grid-gap: 24px;
  //grid-auto-rows: minmax(410px, auto);
  //grid-template-columns: repeat(3,1fr);
}

@media (min-width: 768px) {
  .recipe-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1130px) {
  .recipe-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filter-container {
  padding: variables.$spacer;
  display: flex;
  flex-direction: column;
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
