:host {
  position: relative;
  height: 100%;
  width: 100%;
}

.card-img {
  filter: brightness(50%);
}

.img-overlay {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  &:hover {
    filter: brightness(90%);
  }
}
