<div class='row no-gutters'>
  <div class='col d-flex align-items-center justify-content-end flex-shrink-1 flex-grow-0 py-3'>
    <button class='btn btn-primary' type='button' (click)='previousMonth()'>Previous Month</button>
  </div>

  <div class='col d-flex justify-content-center align-items-center'>
    <h1>{{ currentMonth$ | async | date:'MMMM y' }}</h1>
  </div>

  <div class='col d-flex align-items-center justify-content-start flex-shrink-1 flex-grow-0 py-3'>
    <button class='btn btn-primary' type='button' (click)='nextMonth()'>Next Month</button>
  </div>
</div>
